[submodule "smart-contract/lib/account-abstraction"]
	path = smart-contract/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "smart-contract/lib/openzeppelin-contracts"]
	path = smart-contract/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
