services:
  backend:
    container_name: erc4337-backend-aa_v7
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4000:4000"
    env_file: .env.docker
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - /app/node_modules     # Keep node_modules inside container
      - /app/dist
  db:
    container_name: erc4337-db-aa_v7
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: erc4337
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    container_name: erc4337-redis-server-aa_v7
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redisdata:/data
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: erc4337-pgadmin-aa_v7
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
volumes:
  pgdata:
  redisdata:
  pgadmin_data:
